CARTRACK_BASE_URL=https://fleetapi-th.cartrack.com/rest
CARTRACK_USERNAME=
CARTRACK_PASSWORD=
CARTRACK_REGION=th

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

REPORT_TIMEZONE=Asia/Bangkok
REPORT_CRON=0 18 * * *
REPORT_CRON_SECRET=change-this-secret
VSC_AUTH_SECRET=change-this-auth-secret
VSC_AUTH_USERNAME=admin
VSC_AUTH_PASSWORD=change-this-admin-password
REPORT_MAX_VEHICLES=100

MONGODB_URI=
MONGODB_DB=vscbot
MONGODB_RETENTION_RAW_SNAPSHOT_DAYS=90
MONGODB_RETENTION_DETECTED_FUEL_DAYS=730
MONGODB_RETENTION_REPORT_DAYS=730
MONGODB_RETENTION_AUDIT_DAYS=1095
MONGODB_RETENTION_ACTUAL_FUEL_DAYS=1095
